<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/css/style.css">

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Oswald">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto">
    <!-- <script src="/public/lib/jquery-3.0.0.min.js"></script> -->
    <script src="/public/lib/moment.min.js"></script>
    <script src="/public/lib/moment-timezone-with-data-2010-2020.min.js"></script>
    <script src="/public/lib/socket.io.min.js"></script>
    <script src="/public/lib/fabric.min.js"></script>
    <script src="/public/lib/commandant.noasync.min.js"></script>
    <script src="/public/lib/colldraw.js"></script>

</head>

<body>
    <section class="content-body" id="content-body">
        {{{body}}}
    </section>
</body>
</html>
